body {
  margin: 0;

  background: #123;
}

#overlay {
  position: absolute;

  display: table;

  width: 100%;
  min-width: 800px;
  height: 100%;
  min-height: 600px;
}

#title {
  font-family: 'Great Vibes', cursive;
  font-size: 6em;

  display: table-cell;

  padding-top: 7%;

  -webkit-user-select: none;
  text-align: center;

  color: #ff6;

  -webkit-font-smoothing: antialiased;
}

#menu {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);

  display: table;

  width: 200px;
  height: 200px;

  cursor: pointer;
  transition: opacity .5s;

  opacity: .80;
  border-radius: 50%;
  background-color: #ff6;
}

#menu:hover {
  opacity: 1;
}

#menu-text {
  font-family: sans-serif;
  font-size: 3em;
  font-weight: bold;
  font-variant: small-caps;

  display: table-cell;

  -webkit-user-select: none;
  text-align: center;
  vertical-align: middle;

  color: #123;

  -webkit-font-smoothing: antialiased;
}

.loading {
  cursor: progress !important;

  opacity: 1 !important;
}

#loader {
  width: 80%;
  height: 10px;
  margin: auto;

  background-color: #123;
}

#loader-bar {
  position: relative;
  top: 2px;
  left: 2px;

  width: 0;
  height: 6px;

  background-color: #ff6;
}
